<div class="d-flex">
    <div class="sidebar d-flex flex-column p-5 "
        style="height: 80vh;width: 250px; background-color: rgb(159, 129, 66);">
        <a routerLink="/dashboard" href=""
            style="text-decoration: none; color: rgb(255, 255, 255); margin-top: 20px;">Dashboard</a>
        <a routerLink="/students" href="" style="text-decoration: none;  color: white; margin-top: 20px;">Student
            List</a>
    </div>
    <div class="d-flex w-100 justify-content-center align-items-center flex-column p-3">
        <h2 class="text-info">Update Student details</h2>
        <form action="" class="form border shadow rounded p-5 mt-5 w-75">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Enter Student id" name="id"
                [(ngModel)]="studentdata.id" disabled>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" placeholder="Enter Student email" name="email" [(ngModel)]="studentdata.email" id="">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Enter username" name="name" 
                [(ngModel)]="studentdata.name"id="">
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" aria-label="Default select example"  [(ngModel)]="studentdata.status" name="status">
                    <option selected>Open this select menu</option>
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
            </div>
            <div>
                <button class="btn btn-warning" (click)="restore(studentdata.id)">Cancel</button>
                <button class="btn btn-success ms-4" (click)="editStudent(studentdata.id)">Add</button>
            </div>

        </form>
    </div>
</div>